{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="post-form my-3">
       {% csrf_token %} <!-- 장고 들어오는 외부의 잘못된 데이터를 방비하는 템플릿 태그-->
        <!-- templates 연결되어 있는 폼 bootstrap 에서 가져와 그림 / form.as_p -->
        <!-- 오류표시 기능 추가 -->
        {% if form.errors %} <!-- 질문의 제목이나 내용 중 어떤 것을 틀릴지 모른다. for문 사용 이유 -->
            <div class="alert alert-danger" role="alert"> <!-- bootstrap -->
              {% for field in form %} <!-- 둘다 error -->
                {% if field.errors %} <!-- 하나만 error -->
                <strong>{{ field.label }}</strong> <!-- 강조-->
                {{ field.errors }}
                {% endif %}
              {% endfor %}
            </div>
        {% endif %}<!-- form.errors END -->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
            value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="form-group"> <!-- views label -->
            <label for="content">내용</label>
            <textarea class="form-control" name="content" rows="10" id="content">{{ form.content.value|default_if_none:'' }}
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>

</div>
{% endblock %}